/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* All */
html {
    box-sizing: border-box;
    height:100vh;
    background: #E5E5E5;
    background-size: cover;
    font-family: Roboto;
}
*,*::before, *::after{
    box-sizing: inherit;
}
.all{
    margin: 0 auto;
}
/* Cont */
.cont{
    border: 1px solid black;
    border-radius: 3px;
    margin: 0;
    list-style-type: none;
    background-color: #9c9c9c;
    max-width: 400px;
    height: 448px;
    padding: 20px 20px 20px 20px;
}
/* Reg*/
.reg {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.reg {
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    padding-bottom: 20px;
    display: block;
    border-bottom: 1px solid #c4c4c4;
}
/*Form*/
.form {
    padding: 20px 0px 0px 0px;
}
#mail {
    margin-bottom: 20px;
}
#password {
    margin-bottom: 20px;
    margin-right: 4px;
}
#user {
    margin-bottom: 20px;
}
#age {
    margin-bottom: 20px;
}
/*Input*/
input[type="email"] {
    height: 28px;
    width: 360px;
    border-radius: 3px;
    border: 1px solid #9c9c9c;
}
input[type="password"] {
    height: 28px;
    width: 175px;
    border-radius: 3px;
    border: 1px solid #9c9c9c;
}
input[type="text"] {
    height: 28px;
    width: 360px;
    border-radius: 3px;
    border: 1px solid #9c9c9c;
}
input[type="number"] {
    height: 28px;
    width: 175px;
    border-radius: 3px;
    border: 1px solid #9c9c9c;
    border-bottom: 1px solid #c4c4c4;
}
input[type="submit"] {
    height: 32px;
    width: 95px;
    border-radius: 3px;
    border: 1px solid #616161;
    color: #cccccc;
    cursor: pointer;
    background-color: #616161;
    margin-right: 185px;
}
input[type="reset"] {
    height: 32px;
    width: 74px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    color: #616161;
    cursor: pointer;
    background-color: #cccccc;
}
/* buttons */
.buttons {
    padding-top: 20px;
    border-top: 1px solid #c4c4c4;
}

