/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* All */
html {
    box-sizing: border-box;
    height:100vh;
    background: #E5E5E5;
    background-size: cover;
    font-family: Roboto;
}
*,*::before, *::after{
    box-sizing: inherit;
}
.all{
    max-width: 536px;
    margin: 0 auto;
}
/*Logo*/
.all {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    list-style-type: none;
    margin: 0;
    padding-left: 80px;
}
.logo a {
    margin: 0;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    display: block;
    padding: 10px 20px 10px 20px;
}
/* Cont*/
.cont {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px #CCCCCC;
    margin: 0;
    list-style-type: none;
    background-color: #CCCCCC;
    max-width: 358px;
    max-height: 196px;
    padding: 10px 20px 10px 20px;
}
/* Menu */
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 318px;
    max-height: 176px;
}
.menu a {
    background-color: #CCCCCC;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.menu a:hover{
    background-color: #9C9C9C;
}
.menu first_line {
    background-color: #CCCCCC;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    margin-top: 0;
    display: block;
    cursor: pointer;
}
.menu first_line:hover{
    background-color: #9C9C9C;
}